html{
  font-size:62.5%;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 30%;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 90%;
  }
}
body{
    font-family:'Barlow Semi Condensed','Noto Sans JP', sans-serif;
    letter-spacing: 0.1rem;
    text-align:center;
}

li{
  list-style:none;
}
img {
      max-width:100%;
      vertical-align: bottom;
      width:100%;
}


/* 画面外にいる状態 */
.fadein {
	opacity : 0.1;
	transform : translate(0, 50px);
	transition : all 500ms;
	}

/* 画面内に入った状態 */
.fadein.scrollin {
	opacity : 1;
	transform : translate(0, 0);
	}



.swiper-parent {
    position: relative;
   }
@media screen and (min-width: 1200px) {
    .swiper-parent {
      width:1200px;
      }
    }
      
.swiper-parent {
  padding-bottom:10px;
  box-sizing: content-box;
  }
.swiper-pagination{
  width: 100%;
  margin-top:10px;
    }
.swiper-pagination-bullet{
     margin:0 4px;
    }
 
  .swiper-container {
    padding: 30px 0 50px;
    background: #eeeeee;
  }
  
  .s-fade-wrap {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .s-fade-text {
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    color: white;
    font-size: 2.0rem;
    line-height:180%;
    display:inline-block;
  }  
  .box-border1{
    padding: 0.5rem 4rem;
    border: solid 1px white;
    font-size:1rem;
  }

  .box-border2{
    padding: 0.5rem 4.1rem;
    border: solid 1px white;
    font-size:1rem;
  }

  .box-border3{
    padding: 0.5rem 2rem;
    border: solid 1px white;
    font-size:1rem;
  }
  .box-border4{
    padding: 0.5rem 5.5rem;
    border: solid 1px white;
    font-size:1rem;
  }

  @media screen and (max-width: 768px) {
    .box-border1 {
      padding:0.2rem 1rem;
    }
    .box-border2{
      padding:0.2rem 1rem;
    }
    .box-border3{
      padding:0.2rem 1rem;
    }
    .box-border4{
      padding:0.2rem 3rem;
    }
  }


  .swiper-slide-active .s-fade-text {
    animation: slideTextFade 1.75s ease 0s 1 normal;
  }
  
  @keyframes slideTextFade {
    0%, 25% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @media screen and (min-width: 1200px) {
    .main{
      width:1000px;
      padding:0 100px;
    }
  }
  .concept-title{
    padding:30px;
  }
  .title{
    font-size:7rem;
  }
  
.concept-p{
  font-size:2rem;
}


  .concept-text{
    font-size:3rem;
  }

  .concept-point{
    display:flex;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:center;
    padding:1rem;
  }
  .point-text{
    border:1px solid rgb(160, 157, 157); 
    padding:5rem 2rem; 
    font-size:2rem;
    white-space:nowrap;
    font-weight:bold;
  }
  .point-text +.point-text{
    border-left:none;
  }
  .text-span{
    display:block;
    font-size:1.5rem;
    white-space:nowrap;
  }

  @media screen and (max-width: 768px) {
    .text-span {
      transform:scale(0.8);
      font-size:1rem;
      white-space:nowrap;
    }
  }
.concept-flat p{
  font-size:1.5rem;
}
  .flat-title{
   font-size:4rem;
   padding:10rem 0 1rem 0;
  }
.flat-text{
  font-size:2rem;
}
.text-br{
  display:inline-block;
  padding-top:3px;
}

.yuusyuu-logo{
  padding-top:5rem;
  font-size:1rem;
}
.yuusyuu-logo img{
  width:45rem;
  height:50rem;
}

.design-img{
  padding-top:10rem;
}

.space-logo{
  padding-top:15rem
}
.space-text{
  padding-bottom:5rem;
}

.disc-text{
  font-size:1.5rem;
  padding:3rem 0;
}

.omosa-text p{
  font-size:1.6rem;
}

.omosa-text{
  padding-top:5rem;
  padding-bottom:3rem;
}
.omo-text{
  padding-bottom:2rem;
}

.sean-text h1{
  padding-top:3rem;
}
.sean-text p{
  font-size:1.5rem;
}

.kasa-contents{
  display:flex;
  flex-wrap:nowrap;
  justify-content:center;
  padding-bottom:10rem;
}

.kasa-content{
  width:100%;
  padding:1rem 0.5rem 0 0.5rem;
}
.kasa-text{
  display:inline-block;
  padding-top:2rem;
  font-weight:bold;
  font-size:1.5rem;
}

.tokkyo-contents{
  background-color:rgb(243, 239, 239);
  padding:5rem 2rem 2rem 3rem;
}
.color-red{
  color:red;
  text-decoration:underline;
  text-decoration-color:red;
  text-underline-offset: 0.1em;
  font-size:3.5rem;
}
.tokkyo-contents h1{
  padding-bottom:3rem;
}
.tokkyo-contents p{
  font-size:1.5rem;
}
.tokkyo-contents img{
  padding-top:5rem;
}

.four-img{
  display:flex;
  flex-wrap:wrap;
}
.four-img li{
  width: calc(100%/2);
}

.btn1{
  transition: .3s;
}
.btn1:hover{
  opacity: 0.5;
}

.btn2{
  transition: .3s;
}
.btn2:hover{
  opacity: 0.5;
}

.btn3{
  transition: .3s;
}
.btn3:hover{
  opacity: 0.5;
}

.btn4{
  transition: .3s;
}
.btn4:hover{
  opacity: 0.5;
}

.four-design h1{
  padding-bottom:2rem;
  padding-top:10rem;
}

.product-contents{
  padding-top:10rem;
}
.product-title p{
  font-weight:bold;
  font-size:1.2rem;
}
.product-img{
  padding-top:3rem;
}

.purpose-text{
  margin-top:3rem;
  padding:0.5rem 1rem;
  color:white;
  background-color:rgb(197, 12, 12);
  display:inline-block;
}
.purpose-text span{
  font-size:1.5rem;
}

.product-text h1{
  padding-top:2rem;
  font-size:1.5rem;
  letter-spacing: 0;
}
.product-text span{
  font-weight:normal;
  font-size:1.5rem;
  letter-spacing: 0;
}

.product-page{
  width:100%;
  margin-top:3rem;
  padding:2rem 0 ;
  font-size:2rem;
  background-color:rgb(29, 26, 26);
}
.product-page a{
  color:white;
  display:block;
}
.product-related{
  width:90%;
  margin:0 auto;
  padding:2rem 0 3rem 0;
  font-size:2rem;
  margin-top:5rem;
  border:solid 1px black;
  font-weight:bold;
  line-height:1.5rem;
  height:2rem;
}
.product-related a{
  color:black;
  text-decoration:none;
  display:block;
}
.product-related p{
  font-size:1rem;
}